
:root {

    --gray-50: ##656266;
    --gray-100: #616161;
    --gray-200: #322F33;
    --gray-300: #1C181D;

    --font-color-light: #E3E3E3;
    --font-color-mid: #616161;
    --font-color-dark: #475467;

    --stroke-50: #EBEBEB;
    --stroke-100: rgba(0, 0, 0, 0.07);
    --stroke-200: rgba(255, 255, 255, 0.2);

    --hover: #F7F7F7;
    --paused: #F0F0F0;
    --focused: #005BD3;

    --white: #FFFFFF;
    --background: #F1F1F1;

    --max-width: 1440px;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: var(--background);
    font-family: 'Inter', sans-serif;
    font-size: 1.3rem;
    padding-bottom: 20px;
}

li { 
    list-style: none; 
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--font-color-mid);
    width: 100%;
    height: 100%;
    padding: 0.8rem;
    outline-color: var(--focused);
    border-radius: 8px;
}

.header {
    background-color: var(--gray-300);
    height: 5.6rem;
    display: flex;
    align-items: center;
}

.nav {
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1.6rem;
}

.nav > a {
    width: fit-content;
}

#search {
    display: flex;
    align-items: center;
    width: 48rem;
    border-radius: 0.8rem;
    overflow: hidden;
    border: 0.01rem solid var(--stroke-200);
}

.search__button {
    padding: 0.6rem 0.8rem;
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


path, stroke {
    fill:  var(--gray-100);
}

.search__input {
    flex: 1;
    border-radius: 0.8rem;
    padding: 0.8rem;
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--white);
}

.search__input::placeholder {
    color: var(--gray-100);
}

#search:focus-within {
    border: 0.2rem solid var(--white);
}

.search__input:hover {
    border-color: var(--stroke-100);
}

.search__input:focus{
    border-color: var(--white);
}

.action-container {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    padding-left: 0.8rem;
}

.dropdownmenu {
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.dropdownmenu button {
    height: 3.2rem;
    background-color: var(--gray-200);
    border: 0.2rem solid transparent;
    transition: 0.3s;
}

.dropdownmenu button:hover {
    background-color: var(--gray-100);
}

.dropdownmenu button:focus {
    background-color: var(--gray-50);
    border: 0.2rem solid var(--focused);
}

.dropdownmenu__item {
    display: flex;
    flex-direction: column;
    width: 32rem;
    max-height: 0;
    overflow: hidden;
    transition: all 150ms ease;
    position: absolute;
    top: 5rem;
    right: 0;
    z-index: 5;
    box-shadow: 0 0 0.5rem 0.2rem rgba(0, 0, 0, 0.1);
    border-radius: 1.4rem;
    background-color: var(--white);

}

.dropdownmenu__item.toggleMenu {
    max-height: 200rem;
    transition: all 150ms ease;
    padding: 0.5rem 0;
}

.avatar.menu__avatar {
    width: 100%;
    max-width: 30.8rem;
    height: 3.6rem;
    margin-top: 0.5rem;
    margin-right: auto;
    background-color: transparent;
    color: var(--font-color-dark);
    font-weight: semibold;
    font-size: 1.4rem;
    padding: 0.4rem;
    margin-inline: auto;
}

.avatar.menu__avatar:hover {
    background-color: var(--hover);
}

.avatar.menu__avatar #avatar__name {
    color: var(--font-color-dark);
    font-weight: bold;
    font-size: 1.4rem;
    padding-left: 0px;
}

.menu__checked {
    margin-left: auto;
    /* width: 1.6rem;
    height: 1.6rem; */


    width: 3.5rem;
    height: 3.5rem;
    border-radius: 0.6rem;
    padding: 0.8rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.menu__checked svg {
    width: 100%;
    height: 100%;
}

.unorderedlist-section {
    display: flex;
    flex-direction: column;
}



.unorderedlist {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    margin-top: 1rem;
    padding: 0 0.5rem;
}

.unorderedlist li, .unorderedlist a {
    color: var(--font-color-dark);
    display: flex;
    align-items: center;
    border-radius: 0.8rem;
    cursor: pointer;
    border: 0.2rem solid transparent;
    transition: 0.3s;
}

.unorderedlist li:focus, .unorderedlist li:active {
    border: 0.1rem solid var(--focused);
}

.unorderedlist:first-of-type {
    border-top: 0.1rem solid var(--stroke-100);
    border-bottom: 0.1rem solid var(--stroke-100);
}

.name__email h2,
.name__email span {
    width: 100%;
}

.name__email h2 {
    font-size: 1.3rem;
}

.name__email {
    display: flex;
    flex-direction: column;
}

.name__email a {
    display: flex;
    flex-direction: column;
}

.unorderedlist li:hover {
    border: 0.2rem solid var(--focused);
}


.notification {
    display: flex;
    align-items: center;
    height: 3.2rem;
    width: 3.2rem;
    column-gap: 1rem;
    position: relative;
}

#notification__button {
    height: 3.2rem;
    width: 3.2rem;
    background-color: var(--gray-200);
    border-radius: 0.8rem;
    border: none;
    outline: none;
    cursor: pointer;
}

.alert-container {
    max-height: 0;
    overflow: hidden;
    position: absolute;
}

.show-alert.alert-container {
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
    background-color: var(--background);
    padding: 1.6rem;
    width: 383px;
    transition: all 200ms ease-out;
    position: absolute;
    top: 6rem;
    right: 1rem;
    z-index: 5;
    box-shadow: 0 0 0.5rem 0.2rem rgba(0, 0, 0, 0.1);
    border-radius: 1.4rem;

}


.alert__action-container {
    display: flex;

}

.alert__action-container h2 {
    font-size: 1.4rem;
}

.alert__action-buttons {
    margin-left: auto;
    display: flex;
    column-gap: 0.6rem;
}

.alert__text {
    padding: 1.6rem;
    background-color: var(--font-color-light);
}
.more-btn, .check-btn {
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.4rem;
    cursor: pointer;
    border: none;
    outline: none;
}

.more-btn:focus,
.check-btn:focus {
    border: 0.2rem solid var(--focused);
    transition: all 100ms;
}


#notification__button svg > path {
    fill:  var(--font-color-light);
}

#notification__button:hover {
    background-color: var(--gray-100);
}

#notification__button:focus {
    border: 0.2rem solid var(--focused);
}



.avatar {
    height: 3.2rem;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.2rem;
    border-radius: 0.8rem;
    color: var(--font-color-light);
}

.avatar:focus {
  border: 0.1rem solid var(--stroke-100);
}

#avatar__name {
    font-size: 1.2rem;
    padding-left: 0.8rem;
}

#dc {
    width: 3rem;
    height: 3rem;
    background-color: #36FBA1;
    border-radius: 0.6rem;
    padding: 0.8rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.guide-section {
    width: 100%;
    max-width: 80rem;
    margin-inline: auto;
    padding: 0.8rem;
}

.pill {
    display: flex;
    align-items: center;
    border-radius: 0.8rem;
    background-color: var(--gray-300);
    padding: 1.2rem 1.6rem;

    gap: 0.8rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 3.2rem;
   position: relative;
}

.pill__text {
    color: var(--font-color-light);
}

.plan-buttons {
    display: flex;
    align-items: center;
    row-gap: 0.2rem;
    margin-left: auto;
}

#select__button {
    padding: 0.6rem 0.8rem;
    border-radius: 0.8rem;
    cursor: pointer;
}

#close__button {
    padding: 0.6rem 0.8rem;
    border-radius: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--white);
    background-color: transparent;
    outline: none;
    border: none;
}

#close__button:focus {
    border-width: 0.1rem;
    border-color: var(--white);
}

.accordion-container {
    background-color: var(--white);
    border-radius: 1.8rem;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    position: relative;
}

.accordion__box-container {
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s;
    padding: 0 0.8rem;
}

.openAccordionContainer.accordion__box-container{
    width: 100%;
    background-color: var(--white);
    border-radius: 1.8rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.6rem;
    position: relative;
    padding: 0.8rem;
    max-height: fit-content;
    transition: all 0.3s;
}



.accordion__header {
    padding: 0.8rem 1.6rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
}

.accordion-button {
    width: 100%;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 0.8rem;
    outline: none;
    border: none;
}



.open__close_accordion {
    position: absolute;
    width: 2.8rem;
    height: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 1rem;
    right: 2%;
    transform: translate(-10%);
    cursor: pointer;
    transition: all 100ms ease-in-out;
    border-radius: 100%;
    border: 0.2rem solid transparent;
    background-color: transparent;
}

.open__close_accordion svg {
    width: 100%;
    height: 100%;
}

.open__close_accordion:hover {
    background-color: #E3E3E3;
    border-radius: 100%;

}

/* .open__close_accordion:focus {
    border: 2px solid var(--focused);
} */

.step-count {
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
}

.progress-bar {
    width: 72px;
    background-color: #E3E3E3;
    height: 4px;
    border-radius: 28px;
    overflow: hidden;
}

.progress-bar #progress {
    height: 100%;
    transition: 0.3s;
}

.accordion-content {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
}

.accordion-content.active {
    transition: 0.3s;
    display: flex;
}

/* .accordion_content {
    display: flex;
    align-items: flex-start;
    column-gap: 8px;
    row-gap: 16px;
    padding: 8px;
    border-radius: 10px;
} */

/* .accordion__item, .show__hide_accordion {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    flex: 1;
} */

.accordion__title, .title {
    font-size: 1.3rem;
    font-weight: bold;
}


.title { cursor: pointer; }

.pricing {
    background-color: var(--background);
    border: 1px solid var(--gray-100);
}

.accordion__text {
    font-size: 1.4rem;
    max-width: 51.586rem;
    width: 100%;
    line-height: 1.7;
    color: var(--font-color-mid);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 0.5rem;
}

.accordion__action_buttons {
    display: flex;
    align-items: center;
    column-gap: 0.6rem;
}

.accordion__action_buttons .unstyled-btn {
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--gray-300);
    cursor: pointer;
}

.accordion__action_buttons .unstyled-btn:focus {
    border: 2px solid var(--focused);
}

.accordion__btn {
    background-color: var(--gray-300);
    width: fit-content;
    padding: 0.8rem 1.2rem;
    border-radius: 0.6rem;
    color: var(--white);
    font-weight: bold;
}

.link {
    text-decoration: none;
    color: var(--focused);
    font-size: 1.3rem;
    padding: 0  0.4rem;
    border-radius: 0;
    width: fit-content;
    transition: 300ms;

}

.link:hover {
    background-color: rgba(0, 91, 210, 0.2);
    color: var(--focused);
}

.btn {
    width: 100%;
    max-width: 30.8rem;
    height: 3.6rem;
    margin-top: 0.5rem;
    margin-right: auto;
    background-color: transparent;
    color: var(--font-color-dark);
    font-weight: semibold;
    font-size: 1.4rem;
    padding: 0.4rem;
    margin-inline: auto;
}

.accordion__image {
    height: 12rem;
    width: 15.614rem;
    object-fit: cover;
    margin-left: auto;
}

.accordion__image img {
    width: 100%;
    height: 100%;
}
.show__hide_accordion {
    display: none;
}


.accordion-item {
    overflow: hidden;
    transition: 0.3s ease;
}

  .toggleActive {
    background-color: #F3F3F3;
    border-radius: 1rem;
  }

  .accordion-content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.3s;
  }
  
  .expanded .accordion-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 0.8rem;
    max-height: max-content !important;
    transition: 0.3s;
    opacity: 1;
  }
  


  .accordionImage {
    margin-left: auto;
    height: 12rem;
    width: 15.614rem;
    object-fit: cover;
    overflow: hidden;
  }

  .accordionImage img {
    width: 100%;
    height: 100%;
  }

  .checkbox {
    opacity: 0;
  }

  .icon-svg {
    width: 2.4rem;
    height: 2.4rem;
    display: inline-block;
    vertical-align: middle;
    z-index: -1;
    position: absolute;
  }

  .loading-icon {
    display: none;
    position: absolute;
   
  }

  .spinner {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    animation: spin 1s linear infinite;
    z-index: 5;
  }


  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  .checked-icon {
    display: none;
  }

  .checkbox-label {
    position: relative;
    height: 2.4rem;
    width: 2.4rem;
    object-fit: contain;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
  }

  .checkbox-label input[type="checkbox"] {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    cursor: pointer;
  }

.check__image {
    position: absolute;
    width: 100%;
    height: 100%;
}

  @media (max-width:600px) {
    .nav {  width: 100%; }
    .plan-buttons { margin-left: 0; }
    #avatar__name { display: none; }
    #close__button {
        position: absolute;
        top: 1rem;
        right: 0.5rem;
    }
    #search { width: 23.8rem;  }
}